@import "../../theme.module.scss";

.currentStatus {
  color: $color-neutral-400;
}

.link {
  width: auto;
  max-width: fit-content;

  color: $color-secondary-yellow-medium;

  &:hover {
    color: $color-secondary-green-medium;
  }

  &.disabledLink {
    color: $color-neutral-400;

    &:hover {
      cursor: default;
      color: $color-neutral-400;
    }
  }
}
