@import "../../theme.module.scss";

.button {
  padding: $spacing-xxs $spacing-m;
  border-radius: 4px;
  box-sizing: border-box;
  @include typography-a3;

  &:hover {
    cursor: pointer;
  }
}

$color-button-filled-idle: $color-primary-medium;
$color-button-filled-hover: $color-primary-dark;
$color-button-filled-active: $color-primary-light;

.filled {
  color: $color-neutral-100;
  background-color: $color-button-filled-idle;
  border: 2px solid $color-button-filled-idle;

  &:hover {
    color: $color-neutral-100;
    background-color: $color-button-filled-hover;
    border-color: $color-button-filled-hover;
  }

  &:active {
    color: $color-neutral-100;
    background-color: $color-button-filled-active;
    border-color: $color-button-filled-active;
  }
}

$color-button-outlined-idle: $color-secondary-green-medium;
$color-button-outlined-hover: $color-secondary-green-dark;
$color-button-outlined-active: $color-secondary-green-light;

.outlined {
  color: $color-button-outlined-idle;
  background-color: transparent;
  border: 2px solid $color-button-outlined-idle;

  &:hover {
    color: $color-button-outlined-hover;
    border-color: $color-button-outlined-hover;
  }

  &:active {
    color: $color-button-outlined-active;
    border-color: $color-button-outlined-active;
  }
}

$color-button-text-idle: $color-tertiary-blue;
$color-button-text-hover: $color-tertiary-blue;
$color-button-text-active: $color-tertiary-blue;

.text {
  color: $color-button-text-idle;
  background-color: transparent;

  &:hover {
    color: $color-button-text-hover;
    border-color: $color-button-text-hover;
  }

  &:active {
    color: $color-button-text-active;
    border-color: $color-button-text-active;
  }
}
