@import "../../theme.module.scss";

.content {
  width: calc(100% - $width-nav-bar);
  height: calc(100vh - $height-footer);
  margin-left: $width-nav-bar;

  @media only screen and (max-width: $breakpoint-s) {
    width: 100%;
    height: calc(100vh - $width-nav-bar);
    margin-left: 0;
    margin-bottom: $width-nav-bar;
  }
}
