@import "../../theme.module.scss";

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100vh;
}

.layout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  height: 100%;
}

.content {
  width: calc(100% - 92px);
  height: 100%;
  margin-left: 92px;

  > div {
    padding: $spacing-s $spacing-m;

    height: 100%;
    overflow: auto;
  }
}
