@import "../../theme.module.scss";

.info {
  text-align: start;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: $spacing-s;

  margin-top: $spacing-l;

  & a {
    width: auto;
    max-width: fit-content;

    color: $color-neutral-100;

    &:hover {
      color: $color-primary-medium;
    }
  }
}
