@import "../../theme.module.scss";

.info {
  color: $color-secondary-green-light;
}

.link {
  width: auto;
  max-width: fit-content;

  color: $color-secondary-yellow-medium;

  &:hover {
    color: $color-tertiary-blue;
  }
}
