@import "../../theme.module.scss";

.home {
  justify-content: center !important;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  text-align: start;

  & h1 {
    margin: auto 0;

    @include typography-h1;
  }

  > span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.name {
  color: $color-primary-dark;
}

.greeting {
  margin-bottom: $spacing-m;

  color: $color-secondary-green-medium;

  @include typography-h2;
  text-transform: none;
  font-style: italic;
}

.introduction {
  color: $color-neutral-100;
}

.journey {
  column-gap: $spacing-xxs;

  margin-top: $spacing-s;

  > h2 {
    margin: 0;

    @include typography-h2;
    font-size: 24px;

    &:nth-child(1) {
      color: $color-secondary-yellow-medium;
    }

    &:nth-child(3) {
      color: $color-secondary-green-medium;
    }
  }
}

.summary {
  margin-top: $spacing-m;
  margin-bottom: $spacing-xl;

  @include typography-a2;
}

.pic {
  & img {
    border-radius: 50%;
  }
}
