@import "../../theme.module.scss";

.home {
  justify-content: center !important;
}

.name {
  color: $color-primary-dark;
}

.greeting {
  margin-bottom: $spacing-m;

  color: $color-secondary-green-medium;

  text-transform: none;
  font-style: italic;

  @media only screen and (max-width: $breakpoint-xs) {
    margin-bottom: $spacing-s;
  }
}

.introduction {
  color: $color-neutral-100;
}

.journey {
  > h2 {
    &:nth-child(1) {
      color: $color-secondary-yellow-medium;
    }

    &:nth-child(3) {
      color: $color-secondary-green-medium;
    }
  }
}

.summary {
  margin-top: $spacing-m;
  margin-bottom: $spacing-xl;

  @include typography-a2;

  @media only screen and (max-width: $breakpoint-xs) {
    font-size: 14px;
    line-height: 16px;
  }
}
