@import "../../theme.module.scss";

$color-background: $color-neutral-black;
$width-nav-bar: 92px;

.navBar {
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: $spacing-s;

  width: $width-nav-bar;
  height: 100%;
  padding-top: $spacing-xs;

  background-color: $color-background;
}

$color-inactive: $color-neutral-white;
$color-hover: $color-primary-light;
$color-active: $color-primary-medium;

.navLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: $spacing-xxxs;

  width: calc($width-nav-bar - $spacing-xs * 2);
  height: calc($width-nav-bar - $spacing-xs * 2);

  color: $color-inactive;
  border-radius: 4px;

  @include typography-a2;

  > svg {
    width: 40px;
    height: 40px;

    > path {
      fill: $color-inactive;
    }
  }

  &:hover {
    color: $color-hover;
    background-color: $color-neutral-700;

    & path {
      fill: $color-hover;
    }
  }

  &.active {
    color: $color-active;

    & path {
      fill: $color-active;
    }

    &:hover {
      cursor: default;
      background-color: $color-background;
    }
  }
}
