@import "../../theme.module.scss";

$color-background: $color-neutral-black;

.navBar {
  position: fixed;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: $spacing-s;

  width: $width-nav-bar;
  height: calc(100vh - $height-footer);
  padding-top: $spacing-m;

  background-color: $color-background;

  @media only screen and (max-width: $breakpoint-s) {
    bottom: 0;

    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;
    height: $width-nav-bar;
    padding-top: 0;
  }
}

$color-inactive: $color-neutral-white;
$color-hover: $color-primary-medium;
$color-active: $color-primary-dark;

.navLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: $spacing-xxxs;

  width: calc($width-nav-bar - $spacing-xs * 2);
  height: calc($width-nav-bar - $spacing-xs * 2);

  color: $color-inactive;
  border-radius: 4px;

  @include typography-a3;
  font-size: 14px;

  > svg {
    width: 40px;
    height: 40px;

    > path {
      fill: $color-inactive;
    }
  }

  &:hover {
    color: $color-hover;
    background-color: $color-neutral-700;

    & path {
      fill: $color-hover;
    }
  }

  &.active {
    color: $color-active;

    & path {
      fill: $color-active;
    }

    &:hover {
      cursor: default;
      background-color: $color-background;
    }
  }
}
