@import "../../theme.module.scss";

.page {
  height: 100%;
  @include padding-m-l;
  overflow: auto;

  background-color: $color-primary-deep;
}

.heading {
  padding-bottom: calc($spacing-m - 2px);

  border-bottom: 2px solid $color-secondary-yellow-medium;
}
