@import "../../theme.module.scss";

.page {
  height: 100%;
  @include padding-m-l;
  overflow: auto;

  background-color: $color-primary-deep;
}

.heading {
  height: 42px;
  min-height: 42px;
  padding-bottom: 22px;
  margin-bottom: $spacing-l;

  border-bottom: 2px solid $color-secondary-yellow-medium;

  h1 {
    @include typography-c1;
  }

  @media only screen and (max-width: $breakpoint-s) {
    height: 36px;
    min-height: 36px;
  }
}

.content {
  margin-bottom: $height-footer;

  @media only screen and (max-width: $breakpoint-s) {
    margin-bottom: $width-nav-bar;
  }
}
