@import "../../theme.module.scss";

.page {
  height: 100%;
  @include padding-m-l;
  overflow: auto;

  background-color: $color-primary-deep;
}

.heading {
  height: 42px;
  padding-bottom: 22px;
  margin-bottom: $spacing-l;

  border-bottom: 2px solid $color-secondary-yellow-medium;

  h1 {
    @include typography-c1;
  }
}
