$color-primary-medium: hsl(255, 75%, 60%);
$color-primary-dark: hsl(255, 75%, 30%);

$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-100: hsl(0, 0%, 95%);
$color-neutral-200: hsl(0, 0%, 90%);
$color-neutral-300: hsl(0, 0%, 85%);
$color-neutral-400: hsl(0, 0%, 70%);
$color-neutral-500: hsl(0, 0%, 60%);
$color-neutral-600: hsl(0, 0%, 50%);
$color-neutral-700: hsl(0, 0%, 40%);
$color-neutral-800: hsl(0, 0%, 25%);
$color-neutral-black: hsl(0, 0%, 10%);
