$color-primary-light: #a48bee;
$color-primary-medium: #7a55e7;
$color-primary-dark: #4019b3;

$color-neutral-white: #ffffff;
$color-neutral-100: #f2f2f2;
$color-neutral-200: #e6e6e6;
$color-neutral-300: #d9d9d9;
$color-neutral-400: #b3b3b3;
$color-neutral-500: #999999;
$color-neutral-600: #808080;
$color-neutral-700: hsl(0, 0%, 35%);
$color-neutral-800: hsl(0, 0%, 25%);
$color-neutral-900: hsl(0, 0%, 16%);
$color-neutral-black: #1a1a1a;
