$color-neutral-white: #ffffff;
$color-neutral-100: #e6e6e6;
$color-neutral-200: #d9d9d9;
$color-neutral-300: #b3b3b3;
$color-neutral-400: #999999;
$color-neutral-500: #808080;
$color-neutral-600: #595959;
$color-neutral-700: #404040;
$color-neutral-800: #292929;
$color-neutral-black: #141414;

$color-primary-light: #a486ff;
$color-primary-medium: #7d58ec;
$color-primary-dark: #572dd1;
$color-primary-deep: #0a001a;

$color-secondary-yellow-light: #e9e654;
$color-secondary-yellow-medium: #e7e451;
$color-secondary-yellow-dark: #c1be3a;

$color-secondary-green-light: #01e279;
$color-secondary-green-medium: #00cd6d;
$color-secondary-green-dark: #00a759;

$color-tertiary-blue: #399fe4;
