@import "./theme.module.scss";

body {
  margin: 0;

  color: $color-neutral-100;

  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  caret-color: transparent;
}

h1 {
  margin: 0;

  color: $color-primary-dark;
  @include typography-h1;
}

h2 {
  margin: 0;
  @include typography-h2;
}

h4 {
  margin: 0;
  @include typography-h4;
}

p {
  margin: 0;
  @include typography-p1;
}
