@import "./theme.module.scss";

body {
  margin: 0;

  color: $color-neutral-100;

  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  caret-color: transparent;
}

h1 {
  @include typography-c1;
}
