/* ==================== BODY ==================== */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: hsl(0, 0%, 100%);
  /* background-color: hsl(255, 75%, 60%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ==================== GENERAL INPUT ==================== */

input[type="button"] {
  color:hsl(0, 0%, 100%);
  background-color:hsl(255, 75%, 60%);
  border: 2px solid hsl(0, 0%, 100%);
  text-decoration: none;
  padding: 7px 20px;
  margin: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
input[type="button"]:hover {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background-color: hsl(255, 75%, 30%);
}

/* ==================== NAVBAR ==================== */

nav {
  background-color: hsl(0, 0%, 100%);
  height: 60px;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  background-color: hsl(255, 75%, 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55%;
  width: 10%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
nav a:hover {
  background-color: hsl(255, 75%, 30%);
}

@media screen and (max-width: 800px) {
  nav a {
    width: 20%;
  }
}

/* ==================== HOME ==================== */

.home-page {
  background-color: hsl(255, 75%, 60%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.home-pic {
  margin: 50px;
}
.home-pic img {
  border-radius: 50%;
}

/* ==================== ABOUT ==================== */

.about-page {
  background-color: hsl(255, 75%, 60%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edu-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.edu-section div {
  /* border: 2px solid hsl(0, 0%, 100%); */
  border-radius: 10%;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.edu-section p {
  padding: 15px;
}
.edu-section img {
  margin: 10px 0 0 0;
}

.about-skills {
  background-color: hsl(0, 0%, 100%);
  color: hsl(255, 75%, 60%);
}
.skills-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.skills-section div {
  /* border: 2px solid hsl(0, 0%, 100%); */
  border-radius: 10%;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.skills-section h4 {
  padding: 15px;
}
.skills-section img {
  margin: 10px 0 0 0;
}
.languages, .frameworks, .production {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* ==================== PROJECTS ==================== */

.project-page {
  background-color: hsl(255, 75%, 60%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 10px 0 0 0;
}
.project-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.img-options {
  position: absolute;
  width: 250px;
  height: 100px;
  background-color: hsl(0, 0%, 100%);
  display: none;
  opacity: 0.9;
  border-radius: 2%;
}
.project-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-img:hover img {
  filter: brightness(50%);
}
.project-img:hover .img-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.to-git, .to-app {
  transition: 0.2s;
}
.to-git:hover, .to-app:hover {
  background-color: hsl(0, 0%, 10%);
  border-radius: 10%;
}
.to-git-light, .to-app-light {
  display: none;
}
.to-git-tip {
  position: absolute;
  bottom: -15px;
  left: 60px;
  background: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
  border-radius: 7%;
  padding: 2px;
  z-index: 1;
  opacity: 0;
}
.to-git:hover .to-git-light {
  display: initial;
}
.to-git:hover .to-git-tip {
  transition-delay: 1s;
  opacity: 1;
}
.to-git:hover .to-git-dark {
  display: none;
}
.to-app:hover .to-app-light {
  display: initial;
}
.to-app-tip {
  opacity: 0;
  position: absolute;
  bottom: -15px;
  left: 160px;
  background: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
  border-radius: 7%;
  padding: 2px;
  z-index: 1;
}
.to-app:hover .to-app-tip {
  transition-delay: 1s;
  opacity: 1;
}
.to-app:hover .to-app-dark {
  display: none;
}

@media screen and (max-width: 1200px) {
  .project {
    flex-direction: column;
  }
  .project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* ==================== CONTACT ==================== */

.contact-page {
  background-color: hsl(255, 75%, 60%);
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.contact-links {
  margin: 30px;
}
.contact-links a {
  margin: 10px;
}

/* ==================== FOOTER ==================== */

.footer {
  color: hsl(255, 75%, 60%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.footer h4 {
  text-decoration: underline;
}
.footer-contact {
  display: flex;
  flex-direction: column;
}
.footer-projects a {
  text-decoration: none;
  color: hsl(255, 75%, 60%);
}
.footer-projects a:hover {
  text-decoration: underline;
  color: hsl(255, 75%, 30%);
}
.footer-links a {
  margin: 5px;
}