/* ==================== BODY ==================== */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: hsl(0, 100%, 100%);
  /* font-family: fontttttt; */
  /* background-color: hsl(255, 75%, 60%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ==================== GENERAL INPUT ==================== */

input[type="button"] {
  /* border: 1px solid red; */
}
input[type="button"]:hover {
  cursor: pointer;
}

/* ==================== NAVBAR ==================== */

nav {
  background-color: hsl(0, 100%, 100%);
  height: 45px;
  position: sticky;
  top: 15px;
  display: flex;
  justify-content: space-evenly;
}
nav a {
  color: hsl(0, 100%, 100%);
  text-decoration: none;
  background-color: hsl(255, 75%, 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 10%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
nav a:hover {
  background-color: hsl(255, 75%, 30%);
}

/* ==================== HOME ==================== */

.home-page {
  background-color: hsl(255, 75%, 60%);
}

/* ==================== ABOUT ==================== */

.about-page {
  background-color: hsl(255, 75%, 60%);
}

.edu-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.edu-section div {
  /* border: 2px solid hsl(0, 100%, 100%); */
  border-radius: 10%;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.edu-section p {
  padding: 15px;
}
.edu-section img {
  margin: 10px 0 0 0;
}

.about-skills {
  background-color: hsl(0, 100%, 100%);
  color: hsl(255, 75%, 60%);
}
.skills-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.skills-section div {
  /* border: 2px solid hsl(0, 100%, 100%); */
  border-radius: 10%;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.skills-section h4 {
  padding: 15px;
}
.skills-section img {
  margin: 10px 0 0 0;
}

.languages-section, .frameworks-section, .production-section {
  /* color: hsl(0, 0%, 30%); */
}
.languages, .frameworks, .production {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* ==================== PROJECTS ==================== */

.project-page {
  background-color: hsl(255, 75%, 60%);
}

/* ==================== CONTACT ==================== */

.contact-page {
  background-color: hsl(255, 75%, 60%);
}

/* ==================== FOOTER ==================== */

.footer {
  border-top: 2px solid hsl(0, 0%, 30%);
}

/* ==================== FOOTER ==================== */