$spacing-xxxs: 4px;
$spacing-xxs: 8px;
$spacing-xs: 12px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 32px;
$spacing-xl: 40px;

$breakpoint-xs: 500px;
$breakpoint-s: 700px;

$width-nav-bar: 92px;
$height-footer: 50px;

@mixin padding-s-m {
  padding: $spacing-s $spacing-m;
}

@mixin padding-m-l {
  padding: $spacing-m $spacing-l;
}

@mixin gap-h1 {
  column-gap: 30px;
}
