$spacing-xxxs: 4px;
$spacing-xxs: 8px;
$spacing-xs: 12px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 32px;
$spacing-xl: 40px;

@mixin padding-s-m {
  padding: $spacing-s $spacing-m;
}

@mixin gap-h1 {
  column-gap: 30px;
}
