@mixin typography-a1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: capitalize;
  text-decoration: none;
}

@mixin typography-a2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: capitalize;
  text-decoration: none;
}

@mixin typography-a3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: capitalize;
  text-decoration: none;
}

@mixin typography-h1 {
  font-size: 108px;
  font-weight: 800;
  line-height: 100px;
  letter-spacing: normal;
  text-transform: capitalize;
  text-decoration: none;
}

@mixin typography-h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: capitalize;
  text-decoration: none;
}

@mixin typography-h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: capitalize;
  text-decoration: none;
}

@mixin typography-p1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: none;
}

@mixin typography-p2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: none;
}

@mixin typography-c1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: uppercase;
}

@mixin typography-c2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: uppercase;
}
