@mixin typography-a1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: capitalize;
  text-decoration: none;

  @media only screen and (max-width: $breakpoint-xs) {
    font-size: 16px;
    line-height: 16px;
  }
}

@mixin typography-a2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: capitalize;
  text-decoration: none;

  @media only screen and (max-width: $breakpoint-xs) {
    font-size: 14px;
    line-height: 16px;
  }
}

@mixin typography-a3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: capitalize;
  text-decoration: none;

  @media only screen and (max-width: $breakpoint-xs) {
    font-size: 14px;
  }
}

@mixin typography-h1 {
  font-size: 108px;
  font-weight: 800;
  line-height: 100px;
  letter-spacing: normal;
  text-transform: capitalize;
  text-decoration: none;

  @media only screen and (max-width: $breakpoint-xs) {
    font-size: 76px;
    line-height: 64px;
  }
}

@mixin typography-h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: normal;
  text-transform: capitalize;
  text-decoration: none;

  @media only screen and (max-width: $breakpoint-xs) {
    font-size: 18px;
    line-height: 18px;
  }
}

@mixin typography-h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: capitalize;
  text-decoration: none;

  @media only screen and (max-width: $breakpoint-xs) {
    font-size: 12px;
    line-height: 16px;
  }
}

@mixin typography-p1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: none;

  @media only screen and (max-width: $breakpoint-xs) {
    font-size: 14px;
    line-height: 16px;
  }
}

@mixin typography-p2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: none;

  @media only screen and (max-width: $breakpoint-xs) {
    font-size: 14px;
    line-height: 16px;
  }
}

@mixin typography-c1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: normal;
  text-transform: uppercase;

  @media only screen and (max-width: $breakpoint-xs) {
    font-size: 28px;
    line-height: 28px;
  }
}

@mixin typography-c2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
  text-transform: uppercase;

  @media only screen and (max-width: $breakpoint-xs) {
    font-size: 20px;
    line-height: 20px;
  }
}
